<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="materialize/css/materialize.min.css" rel="stylesheet">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

<title>EDUSPOT</title>
<link rel="stylesheet" href="css/custom.css">
<style type="text/css">
html, body {
	background-color: #E6E6FA;
}
.brand-logo{
			margin-left: 20px;
		}
		.hh{
			margin-left: 170px;
		}
</style>
</head>
<body ng-app="myApp">
	<div class="wrapper">
		<nav>
			<div class="nav-wrapper white-text indigo lighten-3">
				<!-- **** Branding and hamburger menu ****-->
				<a href="#!" class="brand-logo">EDUSPOT</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				
				<!-- **** Navbar menu ****-->
				<ul class="hh hide-on-med-and-down">
		  			<li><a href="#!home">Home</a></li>
		  			<li><a class="nav-link " href="#!editprofile" ng-show="currentUser.firstname">Edit Profile</a></li>
		  			<li><a class="nav-link " href="#!jobform" ng-show="currentUser.role=='ADMIN'">Jobform</a>
					</li>
					<li class="right"><a class="nav-link " href="#!signup"
						ng-hide="currentUser.firstname">SignUp</a></li>
		  			<li class="right"><a class="nav-link " href="#!login"
						ng-hide="currentUser.firstname">LogIn</a></li>
		  			<li class="right"><a class="nav-link " href=""
						ng-click="logout()" ng-show="currentUser.firstname">LogOut</a></li>
					<li class="right"><a class="nav-link " href=""
						ng-show="currentUser.firstname">Welcome
							{{currentUser.username}}</a></li>
				</ul>
				
				<!-- **** sidebar menu ****-->
				<ul class="side-nav" id="mobile-demo">
		  			<li><a href="#!home">Home</a></li>
		  			<li><a href="#!editprofile" ng-show="currentUser.firstname">Edit Profile</a></li>
					<li ><a href="#!jobform" ng-show="currentUser.role=='ADMIN'">Jobform</a>
					</li>
		  			<li><a href="#!signup" ng-hide="currentUser.firstname">SignUp</a></li>
		  			<li><a href="#!login" ng-hide="currentUser.firstname">LogIn</a></li>
		  			<li><a href="" ng-click="logout()" ng-show="currentUser.firstname">LogOut</a></li>
					<li><a href="" ng-show="currentUser.firstname">Welcome{{currentUser.username}}</a></li>
				</ul>
			</div>
		</nav>				

		
	</div>
	<div  class="content" ng-view></div>
	<script src="js/jquery-3.2.1.js"></script>
	<script src="materialize/js/materialize.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/angular-cookies.min.js"></script>
	<script src="controller/usercontroller.js"></script>
	<script src="controller/jobcontroller.js"></script>
	<script src="service/userservice.js"></script>
	<script src="service/jobservice.js"></script>
		<script type="text/javascript">
	
			$(".button-collapse").sideNav();

	</script>
	
</body>
</html>