/*my css*/

.content{
	margin-top: 70px;
	
}
.wrapper{
	height: 50px;
	opacity:0.6;
	
}
.wrapper a{
	padding-right:15px;

}
nav{
	height:50px;
	line-height: 50px;
}

nav .brand-logo{
	font-size: 1.7rem;
}
#dropdown{
			margin-top:55px !important;
			border-radius: 5px;
			position:absolute !important;
			z-index: 10  !important;
			
		}
#dropdown li{
	height:30px !important;
	line-height: 30px !important;
}