/*my css*/

.content{
	margin-top: 55px;
	
}
.wrapper{
	height: 50px;
	opacity:0.6;
	
}
.wrapper a{
	padding-right:15px;

}
nav{
	height:50px;
	line-height: 50px;
}

nav .brand-logo{
	font-size: 1.7rem;
}