/* YOUR CUSTOM STYLES */
.card{
	
	width:650px;
	margin-left:auto;
	margin-right: auto;

}

#alert_box{
	transition: all linear 1s;
	margin-top: 55px;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	text-align: center;
	opacity:1;
}
   
