/* YOUR CUSTOM STYLES */
.card{
	
	width:650px;
	margin-left:auto;
	margin-right: auto;

}

#alert_box{
	border:1px solid red;
	border-radius:8px;
	font-weight:200;
	color:#ff1a1a;
	background-color:#ffcccc;
	margin-top: 55px;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	text-align: center;
	animation-timing-function: linear;
	animation-delay: 4s;
}


